@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");

.ItemWrapper {
  margin-top: 30px;
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(200, 200, 200, 0.5);
  min-height: 100px;

  font-family: "Road Rage", cursive;
  position: relative;
}

.VorschauBildWrapper {
  display: flex;
  justify-content: center;
  position: relative;

  height: fit-content;
  width: fit-content;
  max-height: 150px;
  margin-left: 10px;
}

.Vorschaubild {
  max-width: 250px;
  border-radius: 20px 0px 0px 0px;
}

.ItemDatenWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
}

.ItemName {
  font-size: 25px;
  text-decoration: none;
  color: black;
  transition: all 100ms;
}
.ItemName:hover {
  text-decoration: underline;
  color: blue;
}

.DeleteButton {
  cursor: pointer;
}

.DeleteButton:hover {
  transform: scale(1.05);
}

input,
button {
  height: 30px;
}

.SpecialWrapper {
  display: flex;
  justify-content: center;
  place-items: center;
}
